<div class="iframe-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div class="iframe-container">
        <iframe src={{this._src}}></iframe>
        {{#if _scripts._isEnabled}}
          {{#if _scripts._externalScripts}}
        <script src="{{{_scripts._externalScripts}}}" charset="UTF-8"></script>
          {{/if}}
        {{/if}}
    </div>
</div>
